@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all ease 0.2s;
}

body {
    @apply bg-gray-950 text-white;
}

.center {
    align-items: center;
    justify-content: center;
}

.form-input, .form-checkbox {
    @apply focus:border-blue-400;
    @apply bg-slate-800 rounded-md;
}

button:not(.nostyle) {
    @apply px-4 py-2 rounded-md;
    background: linear-gradient(52deg, rgba(81,97,214,1) 0%, rgba(78,167,242,1) 50%, rgba(81,97,214,1) ) var(--x, 0) / 200%;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    --x: 100%;
}
